<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 品牌管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{#$smarty.const.RESOURCE_PATH#}styles/general.css" rel="stylesheet" type="text/css" />
<link href="{#$smarty.const.RESOURCE_PATH#}styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="index.php?p=admin&c=brand&a=add">添加品牌</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品品牌 </span>
<div style="clear:both"></div>
</h1>

<div class="form-div">
  <form action="javascript:search_brand()" name="searchForm">
    <img src="{#$smarty.const.RESOURCE_PATH#}images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
     <input type="text" name="brand_name" size="15">
    <input type="submit" value=" 搜索 " class="button">
  </form>
</div>

<form method="post" action="" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">

  <table cellpadding="3" cellspacing="1">
    <tbody>
		<tr>
			<th>品牌名称</th>
			<th>品牌网址</th>
			<th>品牌描述</th>
			<th>排序</th>
			<th>是否显示</th>
			<th>操作</th>
		</tr>
{#foreach $list as $brand#}
   
        <tr>
			<td class="first-cell"><span style="float:right"><a href="{#$brand['logo']#}" target="_brank"><img src="{#$smarty.const.RESOURCE_PATH#}images/picflag.gif" width="16" height="16" border="0" alt="品牌LOGO"></a></span>
			<span onclick="javascript:listTable.edit(this, 'edit_brand_name', 1)" title="点击修改内容" style="">{#$brand.brand_name#}</span>
			</td>
			<td><a href="{#$brand.url#}" target="_brank">{#$brand.url#}</a></td>
			<td align="left" >{#$brand.brand_desc#}</td>
			<td align="right"><span onclick="javascript:listTable.edit(this, 'edit_sort_order', 1)">{#$brand.sort_order#}</span></td>
			<td align="center">{#if $brand.is_show eq 1#}<img src="{#$smarty.const.RESOURCE_PATH#}images/yes.gif">{#else#}<img src="{#$smarty.const.RESOURCE_PATH#}images/no.gif">{#/if#}</td>
			<td align="center">
				<a href="index.php?p=admin&c=brand&a=edit&id={#$brand.brand_id#}" title="编辑">编辑</a> |
				<a href="index.php?p=admin&c=brand&a=del&id={#$brand.brand_id#}" onclick="javascript:confirm('你确认要删除选定的商品品牌吗？')" title="编辑">移除</a> 
			</td>
		</tr>
 {#/foreach#}
		<!--start，这些都是显示代码，没有格式化，开发时会删除 -->

        

	<!--end，这些都是显示代码，没有格式化，开发时会删除 -->
    <tr>
		<td align="right" nowrap="true" colspan="6">
            <div id="turn-page">
		{#$pageBar#}
      </div>
      </td>
    </tr>
  </tbody></table>

<!-- end brand list -->
</div>
</form>


<div id="footer">
	版权所有 &copy; 2012-2013 传智播客 - PHP培训 - </div>
</div>

</body>
</html>