<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 添加分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{#$smarty.const.RESOURCE_PATH#}styles/general.css" rel="stylesheet" type="text/css" />
<link href="{#$smarty.const.RESOURCE_PATH#}styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="index.php?p=admin&c=category&a=index">商品分类</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加分类 </span>
<div style="clear:both"></div>
</h1>
<!-- start add new category form -->
<div class="main-div">
  <form action="index.php?p=admin&c=category&a=save" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
	 <table width="100%" id="general-table">
		<tbody>
			<tr>
				<td class="label">分类名称:</td>
				<td><input type="text" name="cat_name" maxlength="20" value="{#$cat_info.cat_name#}" size="27"> <font color="red">*</font></td>
			</tr>
			<tr>
				<td class="label">上级分类:</td>
				<td>
					<select name="parent_id">
						<option value="0">顶级分类</option>
						{#foreach $category_list as $category#}
						<option value="{#$category.cat_id#}" {#if $category.cat_id eq $cat_info.parent_id#}selected{#else#}{#/if#}>|{#str_repeat('-',$category.level)#}{#$category.cat_name#}</option>
						{#/foreach#}         
					</select>
				</td>
			</tr>

			<tr id="measure_unit">
				<td class="label">数量单位:</td>
				<td><input type="text" name="measure_unit" value="{#$cat_info.measure_unit#}" size="12"></td>
			</tr>
			<tr>
				<td class="label">排序:</td>
				<td><input type="text" name="sort_order" value="{#$cat_info.sort_order#}" size="15"></td>
			</tr>

			<tr>
				<td class="label">是否显示:</td>
				<td><input type="radio" name="is_show" value="1" {#if $cat_info.is_show eq 1#}checked{#else#}{#/if#}> 是<input type="radio" name="is_show" value="0" {#if $cat_info.is_show eq 0#}checked{#else#}{#/if#}> 否  </td>
			</tr>
			<tr>
				<td class="label">筛选属性:</td>
				<td>
          <script type="text/javascript">
          var arr = new Array();
          var sel_filter_attr = "请选择筛选属性";
           {#foreach from=$attr_list item=val key=att_cat_id#}
            arr[{#$att_cat_id#}] = new Array();
            {#foreach from=$val item=item key=i#}
              {#foreach from=$item item=attr_val key=attr_id#}
                arr[{#$att_cat_id#}][{#$i#}] = ["{#$attr_val#}", {#$attr_id#}];
              {#/foreach#}
            {#/foreach#}
          {#/foreach#}
          function changeCat(obj)
          {
            var key = obj.value;
            var sel = window.ActiveXObject ? obj.parentNode.childNodes[4] : obj.parentNode.childNodes[5];
            sel.length = 0;
            sel.options[0] = new Option(sel_filter_attr, 0);
            if (arr[key] == undefined)
            {
              return;
            }
            for (var i= 0; i < arr[key].length ;i++ )
            {
              sel.options[i+1] = new Option(arr[key][i][0], arr[key][i][1]);
            }

          }

          </script>

         
          <table width="100%" id="tbody-attr" align="center">
                       
                        <tbody>
<!--             <tr>
              <td>
                                    <a href="javascript:;" onclick="addFilterAttr(this)">[+]</a>
                                  <select onchange="changeCat(this)"><option value="0">请选择商品类型</option>{#foreach $type_list as $types#}
                                  <option value="{#$types.type_id#}">{#$types.type_name#}</option>
                                  {#/foreach#}</select>&nbsp;&nbsp;
                 <select name="filter_attr[]"><option value="0">请选择筛选属性</option></select><br>
              </td>
            </tr> -->
            {#foreach $type_attr as $type_attr_list#}
             <tr>
              <td>
              					 {#if $type_attr_list@index eq 0#}
                                    <a href="javascript:;" onclick="addFilterAttr(this)">[+]</a>
                                 {#else#}
                                	 <a href="javascript:;" onclick="removeFilterAttr(this)">[-]</a>
                                 {#/if#}
                                  <select onchange="changeCat(this)"><option value="0">请选择商品类型</option>
                                  {#foreach $type_list as $types#}
                                  <option value="{#$types.type_id#}" {#if $type_attr_list.type_id eq $types.type_id#}selected =true{#/if#}>{#$types.type_name#}</option>
                                  {#/foreach#}</select>&nbsp;&nbsp;
                 <select name="filter_attr[]"><option value="0">请选择筛选属性</option>
                 	<option value="{#$type_attr_list.attr_id#}" selected="true">{#$type_attr_list.attr_name#}</option>
                 </select><br>

              </td>
            </tr>
            {#/foreach#}
                        
                        
                        
                      </tbody></table>

          <span class="notice-span" style="display:block" id="noticeFilterAttr">筛选属性可在前分类页面筛选商品</span>
        </td>
			</tr>
      <tr>
        <td class="label">分类描述:</td>
        <td>
          <textarea name="cat_desc" rows="6" cols="48">{#$cat_info.cat_desc#}</textarea>
        </td>
      </tr>
      </tbody></table>
      <div class="button-div">
        <input type="submit" value=" 确定 ">
        <input type="reset" value=" 重置 ">
      </div>
    <input type="hidden" name="cat_id" value="{#$cat_info.cat_id#}">
  </form>
</div>



<div id="footer">
	版权所有 &copy; 2012-2013 传智播客 - PHP培训 - 
</div>

</div>
<script language="JavaScript">
<!--
// 这里把JS用到的所有语言都赋值到这里
var process_request = "正在处理您的请求...";
var todolist_caption = "记事本";
var todolist_autosave = "自动保存";
var todolist_save = "保存";
var todolist_clear = "清除";
var todolist_confirm_save = "是否将更改保存到记事本？";
var todolist_confirm_clear = "是否清空内容？";
var catname_empty = "分类名称不能为空!";
var unit_empyt = "数量单位不能为空!";
var is_leafcat = "您选定的分类是一个末级分类。\r\n新分类的上级分类不能是一个末级分类";
var not_leafcat = "您选定的分类不是一个末级分类。\r\n商品的分类转移只能在末级分类之间才可以操作。";
var filter_attr_not_repeated = "筛选属性不可重复";
var filter_attr_not_selected = "请选择筛选属性";
//-->
</script>
<script type="text/javascript" src="{#$smarty.const.RESOURCE_PATH#}js/utils.js"></script>
<script type="text/javascript" src="{#$smarty.const.RESOURCE_PATH#}js/validator.js"></script>
<script language="javascript">
{#literal#}

<!--
document.forms['theForm'].elements['cat_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("cat_name",      catname_empty);
  if (parseInt(document.forms['theForm'].elements['grade'].value) >10 || parseInt(document.forms['theForm'].elements['grade'].value) < 0)
  {
    validator.addErrorMsg('价格分级数量只能是0-10之内的整数');
  }
  return validator.passed();
}


/**
 * 新增一个筛选属性
 */
function addFilterAttr(obj)
{
  var src = obj.parentNode.parentNode;
  var tbl = document.getElementById('tbody-attr');

  var validator  = new Validator('theForm');
  var filterAttr = document.getElementsByName("filter_attr[]");

  if (filterAttr[filterAttr.length-1].selectedIndex == 0)
  {
    validator.addErrorMsg(filter_attr_not_selected);
  }
  
  for (i = 0; i < filterAttr.length; i++)
  {
    for (j = i + 1; j <filterAttr.length; j++)
    {
      if (filterAttr.item(i).value == filterAttr.item(j).value)
      {
        validator.addErrorMsg(filter_attr_not_repeated);
      } 
    } 
  }

  if (!validator.passed())
  {
    return false;
  }

  var row  = tbl.insertRow(tbl.rows.length);
  var cell = row.insertCell(-1);
  cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addFilterAttr)(.*)(\[)(\+)/i, "$1removeFilterAttr$3$4-");
  filterAttr[filterAttr.length-1].selectedIndex = 0;
}

/**
 * 删除一个筛选属性
 */
function removeFilterAttr(obj)
{
  var row = rowindex(obj.parentNode.parentNode);
  var tbl = document.getElementById('tbody-attr');

  tbl.deleteRow(row);
}
//-->

{#/literal#}
</script>
</body>
</html>